
#foto{
    margin-top:60px;
}

.table-custom{
    margin-top:60px;
}

.btn-color{
    color: white;
}

.page-header-loja{
    background-color: cadetblue;
}
.page-header-loja h1 {
    padding-left:10px;
    padding-top:10px;
   margin-top:70px;
   vertical-align: middle;
}
